.newssection{
    height: 65vh;
    background-image: linear-gradient(
        rgb(0 0 0 / 60%),
        rgb(0 0 0 / 68%)
      ),
      url('../../img/Newslatter/newslatter-banner.jpg');
    background-position: top right;
    background-repeat: no-repeat;
    background-size: cover;
}
.newsheadcom{margin-top: 10%; padding-left: 40%;}
.headcomparg{color: white; padding-left: 15%;}
.newssec2img{padding: 3%;}
.newsbanbox{
    background-color: white;
    position: relative;
    margin-top: -100px;
    margin-bottom: 0;
    padding: 0 0 0 0;
    z-index: 2;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-bottom: 5px solid lightblue;
}
.newssec2col2{
    text-align: justify;
    padding: 5% 0px;
}
.newscard{
    border-radius: 3px;
    height: auto; 
    transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s
    box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
}
.newscard:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-bottom: 5px solid lightblue;
    transform: scale(1.05);
}
.newslatimg{
    border-radius:3px 3px 0px 0px;
    height: 220px;
    width: 400%;}
/* Newslatter Modal CSS */
.homemodalclosebtn {
		color: #30a6e9!important;
		margin-left: 94%!important;
		font-size: 20px;
		font-weight: 700;
		padding: 1%;}
.modal-open {
	overflow: auto!important;
	padding-right: 0px!important;
}
.modal-open .modal {
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	overflow: hidden;
}
.newslattinputs{
	padding: 3%;
	width: 100%!important;
	height: 35px;
	border-radius: 10px;
	border: 1px solid #30a6e9;
}
.newslattinputs:focus{outline: none;}
/* Lily Newslatter Gallery css */
.newslattergrid {
	position: relative;
	margin: 0 auto;
	max-width: 1000px;
	list-style: none;
	text-align: center;
}
.no-gutters>[class*=col-] {
    margin-top: -20px;}
/* Common style */
.newslattergrid figure {
	position: relative;
	float: left;
	overflow: hidden;
	margin: 10px 1%;
	min-width: 109%;
	max-width: 480px;
	max-height: 360px;
	width: 48%;
	text-align: center;
	cursor: pointer;
}
.newslattergrid figure img {
	position: relative;
	display: block;
	min-height: 100%;
	max-width: 100%;
	opacity: 0.8;
}
.newslattergrid figure figcaption {
	padding: 2em;
	color: black;
	text-transform: uppercase;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
.newslattergrid figure figcaption::before,
.newslattergrid figure figcaption::after {
	pointer-events: none;
}
.newslattergrid figure figcaption,
.newslattergrid figure figcaption > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.newslattergrid figure figcaption > a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}
.newslattergrid figure h2 {
	word-spacing: -0.15em;
	font-weight: 300;
}
.newslattergrid figure h2 span {font-weight: 800;}
.newslattergrid figure h2,
.newslattergrid figure p {
	margin: 0;
}
.newslattergrid figure p {
	letter-spacing: 1px;
	font-size: 68.5%;
}
figure.effect-lily img {
	max-width: none;
	width: -webkit-calc(100% + 50px);
	width: calc(100% + 50px);
	opacity: 0.7;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(-40px,0, 0);
	transform: translate3d(-40px,0,0);
}

figure.effect-lily figcaption {text-align: left;}
figure.effect-lily figcaption > div {
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 2em;
	width: 100%;
	height: 50%;
}
figure.effect-lily h2,
figure.effect-lily p {
	-webkit-transform: translate3d(0,40px,0);
	transform: translate3d(0,40px,0);
}
figure.effect-lily h2 {
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
}
figure.effect-lily p {
	color: rgba(255,255,255,0.8);
	opacity: 0;
	-webkit-transition: opacity 0.2s, -webkit-transform 0.35s;
	transition: opacity 0.2s, transform 0.35s;
}
figure.effect-lily:hover img,
figure.effect-lily:hover p {
	opacity: 1;
}
figure.effect-lily:hover img,
figure.effect-lily:hover h2,
figure.effect-lily:hover p {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}
figure.effect-lily:hover p {
	-webkit-transition-delay: 0.05s;
	transition-delay: 0.05s;
	-webkit-transition-duration: 0.35s;
	transition-duration: 0.35s;
}
@media screen and (min-width:320px)and (max-width:575px) {
   .newssec2col2{padding-left: 10%;} 
   .no-gutters { margin-right: 10%;}
}
@media screen and (min-width:320px)and (max-width:425px) {
	.newsheadcom { 
		padding-left: 15%;
		margin-top: 1%;}
	.headcomparg {padding-left: 2%;}
	.newslattergrid figure figcaption{top: -21%;}
	.newslattergrid figure {margin: 25px 1%}
	}
@media screen and (min-width:425px)and (max-width:575px) {
	.newsheadcom {padding-left: 25%;}
	.headcomparg {padding-left: 1%;}
	.newslattergrid figure {margin: 25px 1%}

}
@media screen and (min-width:576px)and (max-width:720px) {
	.newsheadcom {padding-left: 25%;}
}
@media screen and (min-width:576px)and (max-width:767px) {
	figure.effect-lily figcaption > div {
		bottom: 61px;
		padding: 0em;}
	figure.effect-lily h2 {font-size: 20px;}
}
@media screen and (min-width:768px)and (max-width:1024px) {
    .newssec2img {padding-top: 13%;}
    .newscardpara2{font-size: 14px;}
    .allbtn-primary{padding: 10px}
	figure.effect-lily figcaption > div {bottom: 60px;}
	
  
}
