/* Navbar css */
.headlogo{height: 70px; }
.mainnav{height: auto;}
.navbar-expand-lg .navbar-collapse {-webkit-justify-content: flex-end!important;}
.navbar-light .navbar-nav .nav-link  {color: #30a6e9;outline: none;}
.forunderline{
    background: 
    linear-gradient(currentColor 0 0) 
    bottom /var(--d, 0) 1px 
    no-repeat;
    transition:0.5s;
}
.navbar-toggler:focus, .navbar-toggler:hover {
    outline: none;
    text-decoration: none;
    border: 1px solid black}
.forunderline:hover{  --d: 100%;}

/* Active link color change  */
.navbar-light .navbar-nav .nav-link a {text-decoration: none;  }
.navbar-light .navbar-nav .nav-link a :hover{ color: black; }
.navbar-light .navbar-nav .nav-link :hover{color: black;}
.main-nav-active{color: darkblue!important;}
.maincolor{color: #30a6e9;}
/* Drop down css */
.dropdown {
    position: relative;
    display: inline-block;
  }
.dropdown:focus {outline: none;border: 0px;}
.dropdownservice {
    width: 200px;
    height: 150px;
    right: 0;
    display: none;
    position: absolute;
    background-color: white!important;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 100;
 }
.dropdown:hover .dropdownservice {display: block;}
.dropdownservice a{ text-decoration: none;}
.dropdownabout{
    width: 200px;
    height: 280px;
    right: 0;
    display: none;
    position: absolute;
    background-color: white!important;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 100;
}
.dropdown:hover .dropdownabout {display: block;}
.dropdownabout a{ text-decoration: none;}
.dropdown:hover .dropdownabout { display: block;}
.blogmodelicon{
      display: flex;
      margin-top: 10%; }
  .blogmodelicon a{color: black;}
  .blogmodelicon i{
      font-size: 20px;
    color:#30a6e9;}
.blogmodeltxt{
    margin-bottom: 5%;
    margin-left: 5%;
    font-size: 12px;
    color: black;
    font-weight: bold;
}
.blogmodelicon p:hover{
    transition: all .2s ease-in-out;
    left: -3px;
    padding-left: 3px;
    padding-right: 0;
}
/* =============social icons button arrow==============  */
.socialicon-btn{
    width: 20px;
    height: 30px;
    justify-content: center;
    background-color:white;
    position: fixed;
    z-index: 999999999;
    left: 0px;
    top: calc(40% - 100px);
    display: flex;
    flex-direction: column;
    font-size: 25px;
    font-weight: 900;
    outline: none !important;
    border:none !important;
    border-radius:0px 7px 7px 0px;   
}
.socialicon-btn i{color: #30a6e9;}
.socialicon-btn > .fa + .fa,
.socialicon-btn:hover > .fa + .fa {display: none;}

/* ===============social icon section===================== */
.socialimg-header{
    width:30px;
    height:30px;
}
#custom_html-9 {
    position: fixed;
    z-index: 999999999;
    top: calc(50% - 100px);
    display: flex;
    flex-direction: column;
}
#floating-social .a {
    border: 1px solid #C8CBD0;
    border-radius: 50%;
    padding: 10px;
    margin: 10px;
    background: white !important;
    -webkit-backdrop-filter: saturate(180%) blur(12px);
    backdrop-filter: saturate(180%) blur(12px);
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-content: center;
    transition: 0.3s !important;
}
#floating-social .a:hover{
    box-shadow: 2px 2px 8px 1px #30a6e9;
    background-color: black;
}
#floating-social img:hover{
    transform: scale(1.5);
}
#floating-social img {
    vertical-align: middle;
    border-style: none;
    padding:5px;
}
#floating-social {
    display: flex;
    flex-direction: column;  
    background-color: lightblue;
    border-radius: 0px 6px 6px 0px;
}
/* Side Social Icons css */
@media only screen and (min-width:320px) and (max-width:768px){
  .navbar-nav {background-color: lightblue;}
    #floating-social{
        top:0px;
        display:flex;
        flex-direction: column;
        justify-content: center;
    }
    #floating-social img:hover{
        transform: scale(2.1);
    }
    #floating-social img{
        padding:5px;
    }
    #floating-social a{
        margin:5px;
        height:30px;
        width:30px;
    }
    #custom_html-9 {
        position: fixed;
        z-index: 999999999;
        left: 0px;
        top: calc(50% - 100px);
        left: -10px;  
    }
    .forunderline {background: none;}
}
@media only screen and (min-width:768px) and (max-width:1023px){
    #floating-social{
        top:0px;
        display:flex;
        flex-direction: column;
        justify-content: center;
    }
    #floating-social img:hover{ transform: scale(2.1);}
    #floating-social img{ padding:5px;}
    #floating-social a{
        margin:5px;
        height:30px;
        width:30px;
    }
    #custom_html-9 {
        position: fixed;
        z-index: 999999999;
        left: 0px;
        top: calc(50% - 100px);   
    } 
} 
/* DropDown of Service responsiveness & dropdownabout of responsive */
@media only screen and (min-width: 320px) and (max-width: 375px) {
    .dropdownservice { right: 15%;}
    .dropdownabout { right: 15%;}
}
@media only screen and (min-width: 375px) and (max-width: 425px) {
    .dropdownservice { right: 20%;}
    .dropdownabout { right: 20%;}
}
@media only screen and (min-width: 425px) and (max-width: 600px) {
    .dropdownservice { right: 23%;}
    .dropdownabout { right: 23%;}
}
@media only screen and (min-width: 600px) and (max-width: 768px) {
    .dropdownservice { right: 30%;}
    .dropdownabout { right: 30%;}
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .dropdownservice { right: 35%;}
    .navbar-nav {background-color: lightblue;}
    .dropdownabout { right: 35%;}
    .forunderline {background: none;}

 }

 





