/* Navbar css */
.headlogo{
    width: 100% !important;
    height: 70px !important; }

.mainnav{height: auto;}

.navbar-expand-lg .navbar-collapse {justify-content: end;}
.navbar-light .navbar-nav .nav-link  {
    color: white;
}
.forunderline{
    background: 
    linear-gradient(currentColor 0 0) 
    bottom /var(--d, 0) 1px 
    no-repeat;
transition:0.5s;
}
.forunderline:hover{
    --d: 100%;
}
.navbar-light .navbar-nav .nav-link a {
    color: white;
    text-decoration: none;  
}
.navbar-light .navbar-nav .nav-link a :hover{
    color: black; 
}
.navbar-light .navbar-nav .nav-link :hover{
    color: black;
}

/* Drop down css */
.dropdown {
    position: relative;
    display: inline-block;
  }
.dropdownservice {
    width: 200px;
    height: 150px;
    right: 0;
    display: none;
    position: absolute;
    background-color: white!important;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 100;
 }
.dropdown:hover .dropdownservice {display: block;}
.dropdownservice a{ text-decoration: none;}
.dropdownabout{
    width: 200px;
    height: 280px;
    right: 0;
    display: none;
    position: absolute;
    background-color: white!important;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 100;
}
.dropdown:hover .dropdownabout {display: block;}
.dropdownabout a{ text-decoration: none;}
.dropdown:hover .dropdownabout { display: block;}
.blogmodelicon{
      display: flex;
      margin-top: 10%;
  }
  .blogmodelicon a{color: black;}
  .blogmodelicon i{
      font-size: 20px;
    color:#30a6e9;}
.blogmodeltxt{
    margin-left: 5%;
    font-size: 12px;
    color: black;
    font-weight: bold;
}
.blogmodelicon p:hover{
    transition: all .2s ease-in-out;
    left: -3px;
    padding-left: 3px;
    padding-right: 0;
}

/*  social icons button arrow  */

.social-hide-button{
    width:30px;
    height:30px;
    border-radius: 50%;
    justify-content: center;
    background-color:white;
    position: fixed;
    z-index: 999999999;
    left: 0px;
    top: calc(67% - 100px);
    display: flex;
    flex-direction: column;
    border:#30a6e9;
    font-size: 30px;
    font-weight: 900;
}
.social-hide-button:hover + #navbar{
    display:flex;
    border:none;
    background-color:lightblue;
}
.social-hide-button i{
    color:#30a6e9;
}
.social-hide-button:active,.social-hide-button:focus{
    outline: none;
}
/* ===============social icon section===================== */
#custom_html-9 {
    position: fixed;
    z-index: 999999999;
    top: calc(50% - 100px);
    display: flex;
    flex-direction: column;
    /* left: -10px; */
}

#floating-social .a {
    border: 1px solid #C8CBD0;
    border-radius: 50%;
    padding: 10px;
    margin: 10px;
    background: white !important;
    -webkit-backdrop-filter: saturate(180%) blur(12px);
    backdrop-filter: saturate(180%) blur(12px);
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-content: center;
    transition: 0.3s !important;
}
#floating-social .a:hover{
    box-shadow: 2px 2px 8px 1px #30a6e9;
    background-color: black;
}
#floating-social img:hover{
    transform: scale(1.5);
}
#floating-social img {
    vertical-align: middle;
    border-style: none;
    padding:5px;
}
#floating-social {
    display: flex;
    flex-direction: column;
   
}
#navbar {
    background-color:lightblue;
    border-radius: 0 8px 8px 0;
    transform: translateX(calc(-100% + 10px));
    transition: transform .4s cubic-bezier(.4, 0, .2, 1) .2s;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
  } 
  #custom_html-9:hover #navbar {
    transform: translateX(0);
    transition-delay: 0s;
  }

/* Side Social Icons css */
@media only screen and (min-width:320px) and (max-width:768px){
    #floating-social{
        top:0px;
        display:flex;
        flex-direction: column;
        justify-content: center;
    }
    #floating-social img:hover{
        transform: scale(2.1);
    }
    #floating-social img{
        padding:5px;
    }
    #floating-social a{
        margin:5px;
        height:30px;
        width:30px;
    }
    #custom_html-9 {
        position: fixed;
        z-index: 999999999;
        left: 0px;
        top: calc(50% - 100px);
        left: -10px;
        
    }
}
@media only screen and (min-width:768px) and (max-width:1023px){
    #floating-social{
        top:0px;
        display:flex;
        flex-direction: column;
        justify-content: center;
    }
    #floating-social img:hover{
        transform: scale(2.1);
    }
    #floating-social img{
        padding:5px;
    }
    #floating-social a{
        margin:5px;
        height:30px;
        width:30px;
    }
    #custom_html-9 {
        position: fixed;
        z-index: 999999999;
        left: 0px;
        top: calc(50% - 100px);
        
    } 
} 

/* DropDown of Service responsiveness */
@media only screen and (min-width: 320px) and (max-width: 375px) {
    .dropdownservice { right: 15%;}}
@media only screen and (min-width: 375px) and (max-width: 425px) {
    .dropdownservice { right: 20%;}}
@media only screen and (min-width: 425px) and (max-width: 600px) {
    .dropdownservice { right: 23%;}}
@media only screen and (min-width: 600px) and (max-width: 768px) {
    .dropdownservice { right: 30%;}}
@media only screen and (min-width: 768px) and (max-width: 991px) {
        .dropdownservice { right: 35%;}}

 /* dropdownabout of responsive */
 @media only screen and (min-width: 320px) and (max-width: 375px) {
    .dropdownabout { right: 15%;}}
@media only screen and (min-width: 375px) and (max-width: 425px) {
    .dropdownabout { right: 20%;}}
@media only screen and (min-width: 425px) and (max-width: 600px) {
    .dropdownabout { right: 23%;}}
@media only screen and (min-width: 600px) and (max-width: 768px) {
    .dropdownabout { right: 30%;}}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .dropdownabout { right: 35%;}}




