.Lead-Generation-banner{
    height: 85vh;
    background-image: linear-gradient(
        rgb(0 0 0 / 60%),
        rgb(0 0 0 / 68%)
      ),
      url('../../img/services/leadbanner.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.Lead-Generation-Sec
{
    background-color: white;
    background-image: url('../../img//services/banner_back1.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.Lead-text-col{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}
.Drive-Excess-Conversion-Lead{
    margin-bottom:10px;
}

.Lead-img1{
    width:100%;
    background-color: transparent;
}
.Lead-img-col{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}
.effect-circled img { width: 120px;}
.lead-right{
    font-size: 18px;
    text-align: justify;
}
/* .Lead-subhead{padding: 10px;} */
.Lead-icon-col{margin-top:50px;}
.lead-img-p{
    margin: 20px;
    font-size:20px;
}
.lead-img-p2{
    margin: 20px;
    margin-left:15rem;
    font-size:20px;
}
.lead-img-p3{
    margin: 20px;
    margin-right:15rem;
    font-size:20px;
}
.Lead-round-img2{margin-left:15rem;}
.Lead-round-img3{margin-right: 15rem;}
.section-services{ background-color: white;}
.thumbnail-light-image{
    width: 100%;
    vertical-align: middle;
    border-style: none;
    display: inline-block;
    max-width: 100%;
    height: auto;
    border-radius: 6px;
}
.text-width-1{
    font-size: 20px;
    padding: 30px;
}
.heading-services{
    padding: 30px;
    margin-top:10px;
}
.services-row{  margin-top: 50px;}
.thumbnail-light-image:hover{
	opacity: 1;
	-webkit-animation: flash 1.5s;
	animation: flash 1.5s;
}

@-webkit-keyframes flash {
	0% {
		opacity: .4;
	}
	100% {
		opacity: 1;
	}
}
@keyframes flash {
	0% {
		opacity: .4;
	}
	100% {
		opacity: 1;
	}
}
/* animation for image services */
.serviceLead {
    cursor: pointer;
    position: relative;
    background: white;
    font-size: 28px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    transition: all 1s;
}
.serviceLead:after, .serviceLead:before {
    content: " ";
    width: 10px;
    height: 10px;
    position: absolute;
    border: 0px solid #fff;
    transition: all 1s;
}
.serviceLead:after {
    top: -1px;
    left: -1px;
    border-top: 5px solid #00a3fe;
    border-left: 5px solid #00a3fe;
}
.serviceLead:before {
    bottom: -1px;
    right: -1px;
    border-bottom: 5px solid #3085a3;
    border-right: 5px solid #3085a3;
}
.serviceLead:hover {
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
}
.serviceLead:hover:before, .serviceLead:hover:after {
    width: 100%;
    height: 100%;
}

/* service new section */
.support-company-area .support-location-img img {
    width: 100%;
   border:20px solid white;
   border-radius: 25px 0 25px 0;
}
.section-bg {
    background-size: cover!important;
    background-repeat: no-repeat!important;
    background-position: center center!important;
    background-image: url('../../img/services/banner_back.jpg');
}
.support-company-area .right-caption {
    position: relative;
    
}
.section-tittle2 h2 {
    color: #fff;
    font-size: 50px;
    display: block;
    font-weight: 900;
}
.support-company-area .right-caption .support-caption p.pera-top {
    font-size: 20px;
    font-weight: 500;
    color: #3085a3;
}
.support-company-area .right-caption .support-caption p {
    font-size: 15px;
    color: black;
}

.support-location-img{
   background-color:white;
   border-radius: 50px 0 50px 0; 
   margin:30px 0px;
}
.support-caption-two img{
    width:100px;
    height:100px;
    background-color:white;
    border-radius:50%;
}
.ourbest-services-lead{
    list-style: none;
    align-items: flex-start;
    justify-content: flex-start;
}
  /*==========lead form ============ */
  .lead-input{
    width: 100%;
    border-radius: 6px;
    padding: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    height: 25px; 
    text-indent: 10px;
    border: 1px solid #30a6e9 !important;

}
.lead-input:focus{
    outline: none;
    border: none;
    box-shadow: #00bcd4 2px 2px 2px 2px;
}
.lead-textarea{
    width: 100%;
    height: auto;
    margin-top:10px;
    margin-bottom: 10px;
    box-shadow: #00bcd4 2px 2px 2px 2px;
}
.form-lead i{
    position: absolute;
    padding: 5px;
    margin-top:12px;
}
.form-lead i{
    height: 30px;
    border-bottom-right-radius: 6px;
    border-top-right-radius: 6px;
}
.lead-form-img{
    width:100%;
    height:100%;
}
/* / Chrome, Safari, Edge, Opera remove arrow numbertype/ */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number]{
    -moz-appearance: textfield;
}
