/* privacy policy */
.cookiesection{
    border-radius: 50px;
}
.modelcookie{
    bottom:0;
    position:absolute;
    margin-left:2px;
    border: 0px solid rgba(0,0,0,.0)!important;
    background-color: none !important;
}
.Cookiemodalclosebtn{
    float:right;
}
.gdprcookie {
    color: #3e434d;
    font-size: .8em;
    line-height: 1.5em;
    bottom: 1.5rem;
    max-width: 360px;
    padding: 1rem;
    z-index: 999;
    /* border-radius: 30px;
    background-color: white !important; */
    /* border: 0px solid rgba(0,0,0,.0)!important; */
} 
.gdprcookie div, .gdprcookie .gdpr-h2 {
    font-size: 18px;
}
.gdprcookie img {
    width: 60px;
    height: 35px;
}
.cookie-img{
    animation: rotation 8s infinite linear;
  }
  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }
.gdprcookie .cookieCross {
    position: absolute;
    right: 10px;
    top: 17px;
    width: 12px;
    cursor: pointer;
}
.gdprcookie p {
    color: #3e434d;
    font-size: 15px;
    line-height: 1.4;
}
.gdprcookie p a {
    color: #0e90d0;
}
.gdprcookie .gdprcookie-types ul {
    padding-bottom: 10px;
}
.gdprcookie-types ul {
    overflow: hidden;
    padding: 0;
    margin: 0 0 1rem;
}
.gdprcookie .gdprcookie-types li {
    display: flex;
    width: 100%;
    position: relative;
    margin-left:5px; 
}
.gdprcookie-types li {
    display: block;
    list-style: none;
    width: 50%;
    padding: 2px;
    margin: 0;
}
.gdprcookie .gdprcookie-types input[type=checkbox] {
    zoom: 1.4;
    -moz-transform: scale(1.4);
    -moz-transform-origin: 7px 7px;
    margin-top: 2px;
    margin-right: 4px;
    left: 0;
    top: -1px;
}
.gdprcookie .gdprcookie-types li label {
    font-size: 15px;
    color: #3e434d;
    font-weight: 400;
    line-height: 1;
    margin: 0;
}
label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
}
.gdprcookie-buttons {
    text-align: center;
}

/* media for xs screen  */
@media only screen and (min-width:320px)and (max-width:345px){
    .glow-on-hover {
        padding: 0;
    }
    .customizebtn{
        margin-right: 0px;
        margin-bottom: 10px;
    }
}