.companyprofilesection{
    height: 60vh;
    background-image: linear-gradient(
        rgb(0 0 0 / 60%),
        rgb(0 0 0 / 68%)
      ),
      url('../../img/companyprofile/Comapany-profile.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.vision-div {
    border: 0px;
    border-radius: 6px;
    box-shadow: 1px 1px 1px 1px lightblue; 
    margin-top: 45px;
    position: inherit;
}
.mission-div {
    border: 0px;
    border-radius: 6px;
    box-shadow: 1px 1px 1px 1px lightblue; 
    margin-top: 45px;
    position: inherit;
}
.principle-div{
    border: 0px;
    border-radius: 6px;
    box-shadow: 1px 1px 1px 1px lightblue; 
    margin-top: 45px;
    position: inherit;
}
.vision-mission-principle-row{
    margin-top:10px;
}
.company-vmp{
    padding:10px;
}
.vision-title {
    position: absolute;
    top: 0px;
    left: 5px;
    right:5px;
    width: 98%;
    background: #53b1d6;
    height: 50px;
    border-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0px;
}
.vision-title:before{
    content: '';
    position: absolute;
    top: 50px;
    left: -0px;
    width: 15px;
    height: 30px;
    background: #53b1d6;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    z-index: 2;
}
.vision-title:after {
    content: '';
    position: absolute;
    top: 50px;
    left: -0px;
    width: 15px;
    height: 15px;
    background: #53b1d6;
    z-index: 1;
}
/* =================why we choosesection================ */
/* col why we choose */
.tab-divfor-img{
    padding:10px;
}
.nav-pills .nav-link {
    border-radius: 15px 0px 0px 15px;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #172eb8;
}
.first-div{
    background-image: url('../../img/companyprofile/first.jpg');
    height:300px;
    background-repeat: no-repeat; background-size: cover;
}
.second-div{
    background-image: url('../../img/companyprofile/second.jpg');
    height:300px;
    background-repeat: no-repeat; background-size: cover;
}
.three-div{
    background-image: url('../../img/companyprofile/third.jpg');
    height:300px;
    background-repeat: no-repeat; background-size: cover;
}
.four-div{
    background-image:url('../../img/companyprofile/four.jpg');
    height:300px;
    background-repeat: no-repeat; background-size: cover;
}
.five-div{
    background-image: url(https://apisero.com/wp-content/uploads/2021/01/global-team.jpg);
    height:300px;
    background-repeat: no-repeat; background-size: cover;
}
.six-div{
    background-image: url('../../img/companyprofile/five.jpg');
    height:300px;
    background-repeat: no-repeat; background-size: cover;
}
/* ========= */
.reason-compprofile{
    border-radius: 15px 0px 0px 15px;
    background-color: lightblue;
    margin-top:5px;
    margin-bottom:5px;
}
/* media query for why we choose */
@media screen and (min-width:320px) and (max-width:575px){
  .six-reason-col {
      margin-left:10px;
      margin-right:10px;
  }  
  .six-reason-img{
      margin-left: 10px;
      margin-right: 10px;
      height:320px;
  }

}
