.companyprofilesection{
    height: 60vh;
    background-image: linear-gradient(
        rgb(0 0 0 / 60%),
        rgb(0 0 0 / 68%)
      ),
      url('../../img/companyprofile/Comapany-profile.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.company-choose-section{
    background-color: aliceblue;
}
/* ===================about section==================== */
.about1img{
    margin-left: -30px;
}
.about .content {
    background-color: #f6f9ff;
    padding: 40px;
  }
  .about h3 {
    font-size: 14px;
    font-weight: 700;
    color: #4154f1;
    text-transform: uppercase;
  }
  .about h2 {
    font-size: 24px;
    font-weight: 700;
    color: #012970;
  }
  .about p {
    margin: 15px 0 30px 0;
    line-height: 24px;
  }
/* ============== */
.vision-div {
    border: 0px;
    border-radius: 6px;
    box-shadow: 1px 1px 1px 1px lightblue; 
    margin-top: 45px;
    position: inherit;
}

.vision-mission-principle-row{
    margin-top:10px;
}
.heading-vmp{
    margin-top:15px;
}
.company-vmp{
    padding:10px;
}
.vision-title {
    position: absolute;
    top: 0px;
    left: 5px;
    right:5px;
    width: 97%;
    background: #53b1d6;
    height: 50px;
    border-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0px;
}
.vision-title:before{
    content: '';
    position: absolute;
    top: 50px;
    left: -0px;
    width: 15px;
    height: 30px;
    background: #53b1d6;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    z-index: 2;
}
.vision-title:after {
    content: '';
    position: absolute;
    top: 50px;
    left: -0px;
    width: 15px;
    height: 15px;
    background: #53b1d6;
    z-index: 1;
}
/* =======================card testimonial for blog====================== */
.carousel.carousel-slider .control-arrow{
    background-color: none;
}

.testimonials {
    padding: 30px 0;
    background: url('../../img/blog/blog4.jpg') no-repeat; 
    background-position: center center;
    background-size: cover;
    position: relative;
  }
  .testimonials::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(54, 53, 53, 0.7);
  }
  .testimonials .section-header {
    margin-bottom: 40px;
  }
 
  .testimonials .testimonial-item {
    text-align: center;
    color: #fff;
  }
  .testimonial-item{
    width:100%;
  }
  .testimonials .testimonial-item .testimonial-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 6px solid rgba(255, 255, 255, 0.15);
    margin: 0 auto;
  }
  .testimonials .testimonial-item h3 {
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0 5px 0;
    color: #fff;
  }
  .testimonials .testimonial-item h4 {
    font-size: 14px;
    color: #ddd;
    margin: 0 0 15px 0;
  }
  .testimonials .testimonial-item .quote-icon-left, .testimonials .testimonial-item .quote-icon-right {
    color: rgba(255, 255, 255, 0.4);
    font-size: 26px;
  }

  .testimonials .testimonial-item .quote-icon-left {
   
    left: -5px;
    position: relative;
  }
  .testimonials .testimonial-item .quote-icon-right {
    right: -5px;
    position: relative;
    top: 10px;
  }
  .testimonials .testimonial-item p {
    font-style: italic;
    margin: 0 auto 15px auto;
    color: #fff;
  }
  .swiper{
    justify-content: center !important;
    text-align: center !important;
    display:flex;

  }
  .testimonials .swiper-pagination {
    margin-top: 20px;
    position: relative;
  }
  .testimonials .swiper-pagination .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: rgba(255, 255, 255, 0.5);
    opacity: 1;
  }
  .testimonials .swiper-pagination .swiper-pagination-bullet-active {
    background-color: #106eea;
  }
  @media (min-width: 992px) {
    .testimonials .testimonial-item p {
      width: 80%;
    }
  }
/* =================why we choosesection================ */
/* col why we choose */
.tab-divfor-img{
    padding:10px;
}
.nav-pills .nav-link {
    border-radius: 15px 0px 0px 15px;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #172eb8;
}
.first-div{
    background-image: url('../../img/companyprofile/first.jpg');
    height:300px;
    background-repeat: no-repeat; background-size: cover;
}
.second-div{
    background-image: url('../../img/companyprofile/second.jpg');
    height:300px;
    background-repeat: no-repeat; background-size: cover;
}
.three-div{
    background-image: url('../../img/companyprofile/third.jpg');
    height:300px;
    background-repeat: no-repeat; background-size: cover;
}
.four-div{
    background-image:url('../../img/companyprofile/four.jpg');
    height:300px;
    background-repeat: no-repeat; background-size: cover;
}
.five-div{
    background-image: url(https://apisero.com/wp-content/uploads/2021/01/global-team.jpg);
    height:300px;
    background-repeat: no-repeat; background-size: cover;
}
.six-div{
    background-image: url('../../img/companyprofile/five.jpg');
    height:300px;
    background-repeat: no-repeat; background-size: cover;
}
/* ========= */
.reason-compprofile{
    border-radius: 15px 0px 0px 15px;
    background-color: lightblue;
    margin-top:5px;
    margin-bottom:5px;
}
/* =================card section================== */


/* media query for why we choose */
@media screen and (min-width:320px) and (max-width:575px){
  .six-reason-col {
      margin-left:10px;
      margin-right:10px;
  }  
  .six-reason-img{
      margin-left: 10px;
      margin-right: 10px;
      height:320px;
  }

}
/* ==============================cardvmp=================== */
.blog-slider {
    width: 95%;
    position: relative;
    max-width: 800px;
    margin: auto;
    background: #fff;
    box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
    padding: 25px;
    border-radius: 25px;
    height: 400px;
    transition: all 0.3s;
}
@media screen and (max-width: 992px) {
    .blog-slider {
        max-width: 680px;
        height: 400px;
   }
}
@media screen and (max-width: 768px) {
    .blog-slider {
        min-height: 500px;
        height: auto;
        margin: 180px auto;
   }
}
@media screen and (max-height: 500px) and (min-width: 992px) {
    .blog-slider {
        height: 350px;
   }
}
.blog-slider__item {
    display: flex;
    align-items: center;
}
@media screen and (max-width: 768px) {
    .blog-slider__item {
        flex-direction: column;
   }
}
.blog-slider__item.swiper-slide-active .blog-slider__img img {
    opacity: 1;
    transition-delay: 0.3s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > * {
    opacity: 1;
    transform: none;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(1) {
    transition-delay: 0.3s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(2) {
    transition-delay: 0.4s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(3) {
    transition-delay: 0.5s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(4) {
    transition-delay: 0.6s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(5) {
    transition-delay: 0.7s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(6) {
    transition-delay: 0.8s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(7) {
    transition-delay: 0.9s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(8) {
    transition-delay: 1s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(9) {
    transition-delay: 1.1s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(10) {
    transition-delay: 1.2s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(11) {
    transition-delay: 1.3s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(12) {
    transition-delay: 1.4s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(13) {
    transition-delay: 1.5s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(14) {
    transition-delay: 1.6s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(15) {
    transition-delay: 1.7s;
}
.blog-slider__img {
    width: 300px;
    flex-shrink: 0;
    height: 300px;
    background-image: linear-gradient(147deg, white 0%, lightblue 74%);
    box-shadow: 4px 13px 30px 1px rgba(252, 56, 56, 0.2);
    border-radius: 20px;
    transform: translateX(-60px);
    overflow: hidden;
}
.blog-slider__img:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(147deg, white 0%, lightblue 74%);
    border-radius: 20px;
    opacity: 0.8;
}
.blog-slider__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    opacity: 0;
    border-radius: 20px;
    transition: all 0.3s;
}
@media screen and (max-width: 768px) {
    .blog-slider__img {
        transform: translateY(-50%);
        width: 90%;
   }
}
@media screen and (max-width: 576px) {
    .blog-slider__img {
        width: 95%;
   }
}
@media screen and (max-height: 500px) and (min-width: 992px) {
    .blog-slider__img {
        height: 270px;
   }
}
.blog-slider__content {
    padding-right: 25px;
}
@media screen and (max-width: 768px) {
    .blog-slider__content {
        margin-top: -80px;
        text-align: center;
        padding: 0 30px;
   }
}
@media screen and (max-width: 576px) {
    .blog-slider__content {
        padding: 0;
   }
}
.blog-slider__content > * {
    /* opacity: 0; */
    transform: translateY(25px);
    transition: all 0.4s;
}

.blog-slider__title {
    font-size: 24px;
    font-weight: 700;
    color: #0d0925;
    margin-bottom: 20px;
}
.blog-slider__text {
    color: #4e4a67;
    margin-bottom: 30px;
    line-height: 1.5em;
}
.blog-slider .swiper-container-horizontal > .swiper-pagination-bullets, .blog-slider .swiper-pagination-custom, .blog-slider .swiper-pagination-fraction {
    bottom: 10px;
    left: 0;
    width: 100%;
}
.blog-slider__pagination {
    position: absolute;
    z-index: 21;
    right: 20px;
    width: 11px !important;
    text-align: center;
    left: auto !important;
    top: 50%;
    bottom: auto !important;
    transform: translateY(-50%);
}
@media screen and (max-width: 768px) {
    .blog-slider__pagination {
        transform: translateX(-50%);
        left: 50% !important;
        top: 205px;
        width: 100% !important;
        display: flex;
        justify-content: center;
        align-items: center;
   }
}
.blog-slider__pagination.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 8px 0;
}
@media screen and (max-width: 768px) {
    .blog-slider__pagination.swiper-pagination-bullets .swiper-pagination-bullet {
        margin: 0 5px;
   }
}
.blog-slider__pagination .swiper-pagination-bullet {
    width: 11px;
    height: 11px;
    display: block;
    border-radius: 10px;
    background: #062744;
    opacity: 0.2;
    transition: all 0.3s;
}
.blog-slider__pagination .swiper-pagination-bullet-active {
    opacity: 1;
    /* background: lightblue; */
    height: 30px;
    box-shadow: 0px 0px 20px rgba(252, 56, 56, 0.3);
}
@media screen and (max-width: 768px) {
    .blog-slider__pagination .swiper-pagination-bullet-active {
        height: 11px;
        width: 30px;
   }
}