#hero-commonBanner {
    width: 100%;
    height: 90vh;
    overflow: hidden;
    position: relative;
  }
  #hero-commonBanner::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 0;
    width: 130%;
    height: 95%;
    background: linear-gradient(to right, rgba(30, 67, 86, 0.8), rgba(30, 67, 86, 0.6)), url("../../img/Banner/hero-bg.jpg") center top no-repeat;
    z-index: 0;
    border-radius: 0 0 50% 50%;
    transform: translateX(-50%) rotate(0deg);
  }
  #hero-commonBanner::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 0;
    width: 130%;
    height: 96%;
    background: #68A4C4;
    opacity: 0.3;
    z-index: 0;
    border-radius: 0 0 50% 50%;
    transform: translateX(-50%) translateY(18px) rotate(2deg);
  }
  .header-commonbanner{
      width:100%;
      display: flex !important;
      align-items: center !important;
      justify-content: center !important;
  }
  .banner-header-common{
      z-index: 1000;
      color:white;
  }
  .header-common{
      justify-content: center !important;
      display: flex !important;
      align-items: center !important;
  }
@media (max-width: 768px) {
    #hero-commonBanner::after {
      width: 180%;
      height: 95%;
      border-radius: 0 0 50% 50%;
      transform: translateX(-50%) rotate(0deg);
    }
    #hero-commonBanner::before {
      top: 0;
      width: 180%;
      height: 94%;
      border-radius: 0 0 50% 50%;
      transform: translateX(-50%) translateY(20px) rotate(4deg);
    }
  }