  .rolandimg{
      width: 60%;
      border-radius: 10px;
      margin: 10% 0px;
      box-shadow: 0 4px 8px 0 #30a6e9, 0 6px 20px 0 #30a6e9;
  }
  .rolandname{margin-top: 10%;}
  .rolandiconcol i{
      color:#30a6e9 ;
    display: inline-block;
    border-radius: 60px;
    box-shadow: 0px 0px 2px #30a6e9;
    padding: 0.5em 0.6em;
  }
  .rolandiconcol i:hover{
      background-color: #30a6e9;
      color:white;
  }

  #team {
    padding: 60px 0;
    text-align: center;
    color: #145889;
}
#team h2 {
    position: relative;
    padding: 0px 0px 15px;
}
#team p {
    font-size: 15px;
    padding: 0px;
    margin: 25px 0px 40px;
}
#team h2::after {
    content: '';
    border-bottom: 2px solid #fff;
    position: absolute;
    bottom: 0px;
    right: 0px;
    left: 0px;
    width: 90px;
    margin: 0 auto;
    display: block;
}
#team .member {
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;
    background-color: #ffffff;
    padding: 10px;
    border-radius: 15px 0px 15px 0px;
}
#team .member .member-info {
    display: block;
    position: absolute;
    bottom: 0px;
    left: -200px;
    transition: 0.4s;
    padding: 15px 0;
    background: #30a6e947
}
#team .member:hover .member-info {
    left: 0px;
    right: 0px;
}
#team .member:hover{
  box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.4);
}
#team .member h4 {
    font-weight: 700;
    margin-bottom: 2px;
    font-size: 18px;
    color: #fff;
}
#team .member span {
    font-style: italic;
    display: block;
    font-size: 13px;
    color: #0f74af;
    font-weight: bold;
}
#team .member .social-links {
    margin-top: 15px;
}
#team .member .social-links a {
    transition: none;
    color: #fff;
   
}
#team .member .social-links a :hover {
    color:  #0f74af;
}
#team .member .social-links i {
    font-size: 30px;
    margin: 0 2px;
    -webkit-transition: 0.1s ease-in;
    -o-transition: 0.1s ease-in;
    transition: 0.1s ease-in;  
    padding: 3px;   
}
#team .member .social-links i:hover {
  -webkit-transform: translate3d(0px, -5px, 0px);
  transform: translate3d(0px, -5px, 0px);
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -ms--transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}
