/* css for media kit */
.media-kit{background-color:lightblue;}
.copydesign{color:white;
text-align: end;}
.mediakithead{ margin-top: 20px;
    text-align: justify;}
.media-kit p{
    color: black;
    font-size: 17px;
    text-align: justify;
    word-spacing: -2px;
}
.mediakithead{
    position: relative;
    text-transform: uppercase;
    letter-spacing: 4px;
    overflow: hidden;
    background: linear-gradient(90deg, #009ffd, #266a91,#4154f1);
    background-repeat: no-repeat;
    background-size: 80%;
    animation: animate 1s linear infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, 0);
    display: inline-block;
    color: white;
    text-shadow: .03em .03em 0;
  }
  @keyframes animate {
    0% {
      background-position: -500%;
    }
    100% {
      background-position: 500%;
    }
  }
.footerlinkhover:hover,:focus,:active{
    color:rgb(29, 125, 156) ;
    text-decoration: none;
}
.footerlinkhover{
    color: #30a6e9;
    text-decoration: none;
}
.close-btn{
    color: lightblue;
    margin-left: 94%;
    font-size: 20px;
    font-weight: 700;
    padding: 1%;
}
.close-btn:hover{
    outline: none;
}
.close-btn:focus{
    outline: none;
}
.download-button{
    margin-top: 60px;
    border-radius: 25px;
    color:white;
    border: 2px solid black;
    background-color:#30a6e9;
}
.footer-cont{
    background-color: black;
}
.footaddmapicon{
    color: white;
    font-size: 20px;
}
.footaddvascon{
    color: white;
    font-size: 15px;
    padding-left: 7px;
    word-spacing: -3px;
}
.Email-info{
    padding-left: 14px;
}
.footemailimg{
    width: 30px;
}
.model-head-cop{
    color: lightblue;
}
.para-copdeck{
    color:black;
}
.close-btn{
    background-color: lightblue;
    border-radius: 50%;
    float:right;
}
.close-btn:hover{
    outline: none;
}
.close-btn:focus{
    outline: none;
}
.corporate-img{
    width:100%;
    height:100%;
}
.form-corporateDeck-fname, .form-corporateDeck-number, .form-corporateDeck-company{
    width:100%;
    border-radius: 8px;
    box-shadow: 2px 2px 2px 2px #30a6e9;
    padding-left: 15px;
}
.form-corporateDeck-lname, .form-corporateDeck-email, .form-corporateDeck-code{
    width:100%; 
    border-radius: 8px;
    box-shadow: 2px 2px 2px 2px #30a6e9; 
    padding-left: 15px; 
}
.corporate-form-in1 i{
    
    padding: 5px;
    position: absolute;
    margin-left: -25px; 
}
 .corporate-form-in2 i{
    padding: 5px;
    position: absolute;
    margin-left: -25px;
}
.corporate-form-in3 i{
    
    padding: 5px;
    position: absolute;
    margin-left: -25px;
}
.corporate-form-in4 i{
    padding: 5px;
    margin-left: -25px;
    position: absolute;
}
.corporate-form-in5 i{
   
    padding: 5px;
    position: absolute;
    margin-left: -25px;
} 
.corporate-form-in2 ,.corporate-form-in3{
    margin-top:10px;
}
.corporate-form-in4,.corporate-form-in5{
    margin-top:10px;
}
/* / / Chrome, Safari, Edge, Opera / / */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

  @media only screen and (min-width:994px) and (max-width: 1125px) {
    .model-corporatedeck-style {
        margin-left: 14%;
    }
  }
  @media only screen and (min-width:320px) and (max-width: 995px){
    .model-corporatedeck-style {
        margin-left: 0%;
    }
  }

@media only screen and (min-width:320px) and (max-width: 480px) {
.copydesign {text-align: center;}
.media-kit {height: 300px;}
    
}
@media only screen and (min-width:430px) and (max-width: 575px) {
    input[type=submit] {width: 21%;}     
    input[type=email] {width: 39%; }        
}   
@media only screen and (min-width:992px) and (max-width: 1200px) {
    .newsletter-input1 {width: 52%;}
}
/* / media query for model / */
@media only screen and (min-width:768px) and (max-width: 1023px) {
    .model-corporatedeck-style{
        left:20%;
    } 
}
@media only screen and (min-width:1024) and (max-width: 1439px) {
    .model-corporatedeck-style{
        left:30%;
    } 
}
  .model-corporatedeck-style {
    animation: zoom-in 0.7s ease-out ;
    transition: all 0.7s linear
  } 
  @keyframes zoom-in {
    0% {
      transform: scale(1.8);
    }
    30% {
      transform: scale(1.6);
    }
    60% {
        transform: scale(1.4);
      }
    100% {
      transform: scale(1);
    }
  }
   

/* Subscribe css */
 input[type=email]{
    background: #fff;
    border: 0;
    padding: 6px 8px;
    width: 60%;
    outline: none;}
input[type=submit] {
        border-bottom-right-radius: 10px;
        border-top-right-radius: 10px;
        background-color: #009ffd;
        border: 0;
        width: 35%;
        padding: 6px 0;
        text-align: center;
        color: #fff;
        transition: .3s;
        cursor: pointer;}

/* css for RD info p */
.text-footer-info{
  text-align: left;
  font-weight: 400;
  margin-top: 20px;
}
.footer-tit {
    font-size: 18px;}
.footer-row{
    padding: 20px 0;
}
/* css for contact us */
.contactus-footer{
    padding-bottom: 10px;
    font-size: 18px;
    text-align: initial;
}
.text-email{
    float: left;
    font-weight: 900;
}
.services li:hover{
    transition: all .2s ease-in-out;
    left: -13px;
    padding-left: 18px;
    padding-right: 0;
}
.img-ind , .img-us{
    float: left;
    width:30px;
    height:20px;
}

/* css for Footer services */
.services {
    line-height: 0px;
    color:white;
    list-style: none;
    padding: 10px 0;
}
.ourservices{
    margin-right: 15%;
font-size: 18px;}
.services li{
    text-align: justify;
    color:white;
    padding-right: 2px;
    font-size: 18px;
    line-height: 1;
    margin: 8px 17%;;
}
.services a:hover{
    color: #30a6e9; 
    text-decoration: none;
}
.services-webdevlopment{
    color: white;
    text-decoration: none;
}
#arrow1{margin-right: 7px;}
#arrow2 { margin-left: 35px;}
#arrow3{margin-left: 53px;}
#arrow4{margin-left: 12px;}
#arrow5{margin-left: 25px;}
#arrow6{margin-left: 52px;}
#arrow7{margin-left: 14px;}
#arrow8{margin-left: 62px;}
#arrow9{margin-left: 0px;}
.services-webdevlopment{font-size: 15px;}
.services-webdevlopment :hover{ color:white;}
/* css for copyright */
.copyright-center{
    color:white;
    text-align: initial;
}
.copyright-section{
    background-color: #1c2025;
    padding-top: 10px;
    padding-bottom: 10px;
}
.copyrighttxt{
    color:#30a6e9 ;
    font-size: 13px;
    padding-left: 16px;
}
.copyrighttxt:hover{
    color: #266a91;
}
/* css for footerlinks */
.footer-links{
    list-style: none;
}

/* css for Footer newsletter */
.footer-newsletter p {
    padding: 10px;
    font-size: 15px;
}
.newsletter-input1{
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    width: 60%;
    height: 40px;
    border-style: none;
}
.newsletter-input1:focus{  outline: none;}
.subscribe-footer{
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    height: 39px;
    background-color: #30a6e9;
    color: white;
    border-style: none;
    width: 100px
}
/* css for subscribe-footer */
.footsubscridiv{
    position: relative;
    display: flex;
    height: 3rem;
    border: 0;
    border-radius: 4rem;
    background: #ffffff;
    margin-top: 12%;
}
.footsubinput{
    flex: 1 1 auto;
    padding-left: 6.5rem;
    height: inherit;
    border: 0;
    outline: none;
    background: transparent;
    font-size: 1rem;
    text-indent: 0.625rem;
    transition: all 0.35s;
}
.footsubinput::placeholder{color: #9b9ba5;}
.footsubinput:focus{transform: translateX(-4rem);}
.footsubinput:focus ~ span{ transform: translateY(-3rem);}
.footsubscridiv span{
    position: absolute;
    display: grid;
    place-items: center;
    height: 3rem;
    width: 6rem;
    font-size: 0.875rem;
    border-radius: inherit;
    background-color: #0492d4;
    color: #fff;
    pointer-events: none;
    transition: all 0.35s;
}
  /* css for social link */
   .social-links-footer a {
    font-size: 18px;
    display: inline-block;
    background: #2b2b2b;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 4px;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
  }
    .social-links-footer a:hover {
    background: #4154f1;
    color: #fff;
    text-decoration: none;
  } 
  /* css for up arrow */
  .back-to-top.active {
    visibility: visible;
    opacity: 1;
}
.back-to-top:hover {
    color: #fff;
    text-decoration: none;
}
.back-to-top a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
}
.back-to-top {
    position: fixed;
    right: 15px;
    bottom: 15px;
    background: #0492d4;;
    width: 40px;
    height: 40px;
    border: 1px solid #30a6e9;
    border-radius: 30px;
    align-items: center!important;
    justify-content: center!important;
    display: flex!important;
}
.back-to-top:focus{
    outline: none;
}
.back-to-top i {
    font-size: 30px;
    color: #fff;
    line-height: 0; 
    animation: up-down 3s ease-in-out infinite alternate-reverse both;
}
.back-to-top i:hover {
    color: black;
    transform: scale(1.2);

}
/* / modal corporate Deck / */
.corporate-img{
    width:100%;
    height:100%;
}
.form-corporateDeck-fname, .form-corporateDeck-number, .form-corporateDeck-company{
    width:100%;
    border-radius: 8px;
    border:1px solid #30a6e9;  
    padding: 4px;
}
.form-corporateDeck-lname, .form-corporateDeck-email, .form-corporateDeck-code{
    width:100%; 
    border-radius: 8px;
    border:1px solid #30a6e9;  
    padding: 4px;
}
.corporate-form-in1 i{
    
    padding: 5px;
    position: absolute;
    margin-left: -25px; 
}
 .corporate-form-in2 i{
    padding: 5px;
    position: absolute;
    margin-left: -25px;
}
.corporate-form-in3 i{
    
    padding: 5px;
    position: absolute;
    margin-left: -25px;
}
.corporate-form-in4 i{
    padding: 5px;
    margin-left: -25px;
    position: absolute;
}
.corporate-form-in5 i{
   
    padding: 5px;
    position: absolute;
    margin-left: -25px;
} 
.corporate-form-in2 ,.corporate-form-in3{
    margin-top:10px;
}
.corporate-form-in4,.corporate-form-in5{
    margin-top:10px;
}
/* / Chrome, Safari, Edge, Opera / */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* / button / */
.downbtn{
    width: 150px;
    height: 50px;
    border-radius: 25px;
    margin-right: 160px;
    color:white;
}
.modelhead11{
    background-color: lightblue;
}
/* All Footer responsive */
@media only screen and (min-width: 320px) and (max-width: 575px) {
    .ourservices {text-align: justify;}
    .services li{ margin: 0!important;}  
    .footer-tit {text-align: justify;}
    .footrescol{position: inherit!important;}
    .copydesign { text-align: center; }
    .footerlinkhover {font-size: 11px;}
}
@media only screen and (min-width: 575px) and (max-width: 991px) {
    .ourservices {text-align: justify;}
    .services li{ margin: 0!important;}
    .footer-row {text-align: justify;}
    .footer-tit {word-spacing: -5px;}
    .footrescol{position: inherit!important;}
    .copydesign { text-align: center; }
}
@media only screen and (min-width:320px) and (max-width: 480px) {
.media-kit {height: 300px;}}
@media only screen and (min-width:430px) and (max-width: 575px) {
    input[type=submit] {width: 21%;}     
    input[type=email] {width: 39%; }        }
    
@media only screen and (min-width:992px) and (max-width: 1200px) {
    .newsletter-input1 {width: 52%;}}

    