/* / ============================= / */
.card-cont{
    min-height: 100vh;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center
}
.card-blog-div {
    width: auto;
    height: auto;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background: #fff;
    transition: all 0.5s ease;
    cursor: pointer;
    user-select: none;
    z-index: 10;
    overflow: hidden;
    border-radius: 15px;
}
.card-blog-div .backgroundEffect {

    bottom: 0;
    height: 0px;
    width: 100%
}

.card-blog-div:hover {
    color: #fff;
    transform: scale(1.025);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 5px 10px
}

.card-blog-div:hover .backgroundEffect {
    bottom: 0;
    height: 320px;
    width: 100%;
    position: absolute;
    z-index: -1;
    background: #1b9ce3;
    animation: popBackground 0.3s ease-in
}

@keyframes popBackground {
    0% {
        height: 20px;
        border-top-left-radius: 50%;
        border-top-right-radius: 50%
    }

    50% {
        height: 80px;
        border-top-left-radius: 75%;
        border-top-right-radius: 75%
    }

    75% {
        height: 160px;
        border-top-left-radius: 85%;
        border-top-right-radius: 85%
    }

    100% {
        height: 320px;
        border-top-left-radius: 100%;
        border-top-right-radius: 100%
    }
}

.card-blog-div .pic {
    position: relative
}
.card-blog-div .pic img {
    width: 100%;
    height: 280px;
    object-fit: cover
}
.card-blog-div .date {
    margin-bottom: -25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 60px;
    background-color: #1b9ce3;
    color: white;
    position: absolute;
    bottom: 0px;
    transition: all ease
}
.card-blog-div .date .day {
    font-size: 14px;
    font-weight: 600
}
.cardhead{
    font-size: 20px;
}
.card-para{
    font-size: 18px;
    padding:10px;
}
/* .card-border{
    padding:10px 0px;
} */
.card-blog-div .date .month,
.card-blog-div .date .year {
    font-size: 10px
}
.card-blog-div .text-muted {
    font-size: 12px
}
.card-blog-div:hover .text-muted {
    color: #fff !important
}

.card .content {
    padding: 0 20px
}
.card .content .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 10px;
    background-color: #1b9ce3;
    border-radius: 25px;
    font-size: 12px;
    border: none
}
.card:hover .content .btn {
    background: #fff;
    color: #1b9ce3;
    box-shadow: #0000001a 0px 3px 5px
}
.card .content .btn .fa {
    font-size: 10px;
    padding-left: 5px
}
.card .content .foot .admin {
    color: #1b9ce3;
    font-size: 12px
}
.card:hover .content .foot .admin {
    color: #fff
}
.card .content .foot .icon {
    font-size: 12px
}
/*=============== blog4 css=================== */
.blog4-section{
    background-image: url(../../img/services/banner_back1.png);
    margin-top: 10px;
}
.blog4-img-row img{
    width:100%;
    height: auto;
}
.blog4para{
    font-size: 20px;
    display: flex;
    align-items: flex-start;
}
.blog4-content{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}
.blogbtn{
    border-radius:25px;
    margin-left:15px;
}
.blogbtn:hover{
    background-color: white;
    color:black;
}
.blog-admin-msg{
    margin-right:15px;
}