/* / ============================= / */
.Blogsection{
    height: 90vh;
    background-image: linear-gradient(
        rgb(0 0 0 / 60%),
        rgb(0 0 0 / 68%)
      ),
      url('../../img/blog/blogbanner.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
/* ===================about section==================== */
.about1img{
    margin-left: -30px;
}
.about .content {
    background-color: #f6f9ff;
    padding: 40px;
  }
  .about h3 {
    font-size: 14px;
    font-weight: 700;
    color: #4154f1;
    text-transform: uppercase;
  }
  .about h2 {
    font-size: 24px;
    font-weight: 700;
    color: #012970;
  }
  .about p {
    margin: 15px 0 30px 0;
    line-height: 24px;
  }
/* =================================================== */
.card-body{
    padding: 20px 0px;
}
.card-cont{
    min-height: 100vh;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center
}
.card-blog-div {
    width: auto;
    height: auto;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background: #fff;
    transition: all 0.5s ease;
    cursor: pointer;
    user-select: none;
    z-index: 10;
    overflow: hidden;
    border-radius: 15px;
}
.card-blog-div .backgroundEffect {

    bottom: 0;
    height: 0px;
    width: 100%
}

.card-blog-div:hover {
    color: #fff;
    transform: scale(1.025);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 5px 10px
}

.card-blog-div:hover .backgroundEffect {
    bottom: 0;
    height: 320px;
    width: 100%;
    position: absolute;
    z-index: -1;
    background: #1b9ce3;
    animation: popBackground 0.3s ease-in
}

@keyframes popBackground {
    0% {
        height: 20px;
        border-top-left-radius: 50%;
        border-top-right-radius: 50%
    }

    50% {
        height: 80px;
        border-top-left-radius: 75%;
        border-top-right-radius: 75%
    }

    75% {
        height: 160px;
        border-top-left-radius: 85%;
        border-top-right-radius: 85%
    }

    100% {
        height: 320px;
        border-top-left-radius: 100%;
        border-top-right-radius: 100%
    }
}

.card-blog-div .pic {
    position: relative
}
.card-blog-div .pic img {
    width: 100%;
    height: 280px;
    object-fit: cover
}
.card-blog-div .date {
    margin-bottom: -25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 60px;
    background-color: #1b9ce3;
    color: white;
    position: absolute;
    bottom: 0px;
    transition: all ease
}
.card-blog-div .date .day {
    font-size: 14px;
    font-weight: 600;
}
.cardhead{
    font-size: 20px;
}
.card-para{
    font-size: 18px;
    padding:10px;
}
.card-blog-div .date .month,
.card-blog-div .date .year {
    font-size: 10px
}
.card-blog-div .text-muted {
    font-size: 12px
}
.card-blog-div:hover .text-muted {
    color: #fff !important
}

.card .content {
    padding: 0 20px
}
.card .content .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 10px;
    background-color: #1b9ce3;
    border-radius: 25px;
    font-size: 12px;
    border: none
}
.card:hover .content .btn {
    background: #fff;
    color: #1b9ce3;
    box-shadow: #0000001a 0px 3px 5px
}
.card .content .btn .fa {
    font-size: 10px;
    padding-left: 5px
}
.card .content .foot .admin {
    color: #1b9ce3;
    font-size: 12px
}
.card:hover .content .foot .admin {
    color: #fff
}
.card .content .foot .icon {
    font-size: 12px
}
/*=============== blog4 css=================== */
.blog4-section{
    background-image: url(../../img/services/banner_back1.png);
    margin-top: 10px;
}
.blog4-img-row img{
    width:100%;
    height: auto;
}
.blog4para{
    font-size: 20px;
    display: flex;
    align-items: flex-start;
}
.blog4-content{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}
.blogbtn{
    border-radius:25px;
    margin-left:15px;
    padding:10px 20px;
}
.blogbtn:hover{
    background-color: white;
    color:black;
}
.blog-admin-msg{
    margin-right:15px;
}
@media only screen and (min-width:320px) and (max-width:768px)
{
    .about1img{
        margin-left:0px;
    }
}
@media only screen and (min-width:768px) and (max-width:992px)
{
    .about1img{
        margin-left:0px;
    }
}
/* ======================about section for blog======================= */
#about {
    padding: 20px 0;
  }
  #about .about-content {
    padding-top: 40px;
  }
  #about .about-content h2 {
    color: #413e66;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
  }
  #about .about-content h3 {
    color: #696592;
    font-weight: 400;
    font-size: 22px;
    font-style: italic;
  }
  #about .about-content ul {
    list-style: none;
    padding: 0;
  }
  #about .about-content ul li {
    padding-bottom: 10px;
  }
  #about .about-content ul li i {
    font-size: 20px;
    padding-right: 4px;
    color: #1bb1dc;
  }
  #about .about-img {
    position: relative;
    margin: 30px 30px 30px 30px;
  }
  #about .about-img img {
    width: 100%;
    border: 8px solid #fff;
    transition: 0.5s;
  }
  #about .about-img img:hover {
    width: 100%;
    transform: scale(1.03);
  }
  #about .about-img::before {
    position: absolute;
    left: -31px;
    top: -30px;
    width: 90%;
    height: 92%;
    z-index: -1;
    content: "";
    background-color: #ebf1fa;
    transition: 0.5s;
  }
  #about .about-img::after {
    position: absolute;
    right: -31px;
    bottom: -30px;
    width: 90%;
    height: 92%;
    z-index: -1;
    content: "";
    background-color: #ebf1fa;
    transition: 0.5s;
  }

/* =======================card testimonial for blog====================== */
.testimonials {
    padding: 30px 0;
    background: url('../../img/blog/blog4.jpg') no-repeat; 
    background-position: center center;
    background-size: cover;
    position: relative;
  }
  .testimonials::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(54, 53, 53, 0.7);
  }
  .testimonials .section-header {
    margin-bottom: 40px;
  }
  .testimonials .testimonials-carousel, .testimonials .testimonials-slider {
    overflow: hidden;
  }
  .testimonials .testimonial-item {
    text-align: center;
    color: #fff;
  }
  .testimonials .testimonial-item .testimonial-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 6px solid rgba(255, 255, 255, 0.15);
    margin: 0 auto;
  }
  .testimonials .testimonial-item h3 {
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0 5px 0;
    color: #fff;
  }
  .testimonials .testimonial-item h4 {
    font-size: 14px;
    color: #ddd;
    margin: 0 0 15px 0;
  }
  .testimonials .testimonial-item .quote-icon-left, .testimonials .testimonial-item .quote-icon-right {
    color: rgba(255, 255, 255, 0.4);
    font-size: 26px;
  }
  .testimonials .testimonial-item .quote-icon-left {
    display: inline-block;
    left: -5px;
    position: relative;
  }
  .testimonials .testimonial-item .quote-icon-right {
    display: inline-block;
    right: -5px;
    position: relative;
    top: 10px;
  }
  .testimonials .testimonial-item p {
    font-style: italic;
    margin: 0 auto 15px auto;
    color: #fff;
  }
  .testimonials .swiper-pagination {
    margin-top: 20px;
    position: relative;
  }
  .testimonials .swiper-pagination .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: rgba(255, 255, 255, 0.5);
    opacity: 1;
  }
  .testimonials .swiper-pagination .swiper-pagination-bullet-active {
    background-color: #106eea;
  }
  @media (min-width: 992px) {
    .testimonials .testimonial-item p {
      width: 80%;
    }
  }
  /* ======================video================= */
  .bg-video{
    width:100%;
    height: 90vh;
  } 
.heading-banner-blog{
  margin-top: -56px;
  z-index: 10000;
  }
.masthead {
  height: 90vh;
  width:60%;
  /* position: relative;  */
  overflow: hidden;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}
.masthead:before {
  content: "";
  position: absolute;
  top: 95px;
  bottom: 0;
  right: 0;
  left: 0;
  height: 90%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.85);
}
.masthead .masthead-content {
  position: relative;
  max-width: 40rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.masthead .masthead-content h1, .masthead .masthead-content .h1 {
  font-size: 2.5rem;
}
.masthead .masthead-content p {
  font-size: 1.2rem;
}
.masthead .masthead-content p strong {
  font-weight: 700;
}
.masthead .masthead-content .input-group-newsletter input {
  height: auto;
  width: 100%;
  font-size: 1rem;
  padding: 1rem;
}
.masthead .masthead-content .input-group-newsletter button {
  font-size: 0.85rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: calc(1rem + 2px);
}

@media (min-width: 992px) {
  .masthead {
    height: 100%;
    width: 75vw;
    min-height: 0;
    padding-bottom: 0;
  }
  .masthead:before {
    transform: skewX(-25deg);
    transform-origin: top right;
  }
  .masthead .masthead-content {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 2rem;
    padding-right: 9rem;
  }
  .masthead .masthead-content h1, .masthead .masthead-content .h1 {
    font-size: 3.5rem;
  }
  .masthead .masthead-content p {
    font-size: 1.3rem;
  }
}
@media (min-width: 1200px) {
  .masthead {
    width: 65vw;
  }
}
  /* media query for blog card */
@media only screen and (min-width:768px) and (max-width:992px){
    .blogbtn{
        margin-left:15px;
        padding:5px 5px;
    }  
    
}