.jdcareerban{
    background-image: url('../../../img/career/jdbanimg.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
}
.jdformcol{
    border: 1px solid lightblue;
    border-radius: 10px;
}
.jdroles-res{
    font-family: Orbitron;
    color: #30a6e9;}
.jdicons{
    font-size: 25px;
    color: #30a6e9;
    margin-right: 13px;
}
.formjd{
         outline: none;
        width: 100%;
        display: block;
        height: calc(1.5em + .75rem + 2px);
        padding: .375rem .75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: .25rem;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.applyheretxt{
    animation: up-down 2s ease-in-out infinite alternate-reverse both;
    color:#30a6e9;
    font-family:'Orbitron';
}
@media only screen and (min-width: 320px)and (max-width: 575px){
.jdroles-res{font-size: 16px;}}