.clients{
  z-index:0;
  position: relative; 
  background-size: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}
.image-clientslider{
  width:100%;
  height:100%;
  margin:20px;
  overflow-x: hidden;
  background: transparent!important;
}
.image-clientslider img{
  width:150px;
  margin: 20px;
  overflow-x: hidden;
}
.comp-slider{
  overflow-x: hidden; 
}
.slide-overlay{
  background-image: url('../../img/background715.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment:scroll;
  background-size: auto;
}
.overlay1{
  background: linear-gradient(to right, #6d8d82, #d1dbe4);
  opacity: 0.7;
}

@media only screen and (min-width: 320px) and (max-width: 400px) {
  .image-clientslider{
    margin-left: 45px;
    margin-right: 51px;}
}
@media only screen and (min-width: 401px) and (max-width: 450px) {
  .image-clientslider{
    margin-left: 70px;
    margin-right: 55px;}
}
