.clients{
  z-index:0;
  position: relative; 
  background-size: auto;
  margin-top: 10px;
}
.image-clientslider{
  width:100%;
  height:100%;
  margin:20px;
  overflow-x: hidden;
  background: transparent!important;
}
.image-clientslider img{
  width:150px;
  height: 50px;
  margin: 20px;
  overflow-x: hidden;
}
/* .comp-slider{
  overflow-x: hidden; 
} */
.slide-overlay{
  background-image: url('../../img/background715.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment:scroll;
  background-size: auto;
}
@media only screen and (min-width: 320px) and (max-width: 768px) {
  .image-clientslider img{
    width:130px;
    margin:0px;  
  }
}
