.clients{
  z-index:0;
  position: relative; 
  background-size: auto;
}
.section-title{
  margin-top: 20px;
}
.image-clientslider{
  width:100%;
  height:100%;
  margin:20px;
  overflow-x: hidden;
  background: transparent!important;
}
.image-clientslider img{
  width:150px;
  height: 50px;
  margin: 20px;
  overflow-x: hidden;
}
@media only screen and (min-width: 320px) and (max-width: 768px) {
  .image-clientslider img{
    width:130px;
    margin:0px;  
  }
}
