.btn-primary {
    color: #fff;
    background-color:  #30a6e9;
    border-radius: 20px;
    border-color:#30a6e9 ;
    font-weight: 500;

}
.btn-primary:hover{
    opacity: 1;
    background-color: #6cbeee;
    border-color: #0062cc;
}
.btn-primary:focus {
    color: #fff;
    background-color: #6cbeee;;
    border-color: #0062cc;}

/* / button animation / */
    .glow-on-hover {
        width:170px;
        height:40px;
        position: relative;
        z-index: 0;
        border-radius: 20px;
    }
    
    .glow-on-hover:before {
        content: '';
        background: linear-gradient(45deg,
        #87CEEB,
        #00BFFF,
        #87CEFA,
        #ADD8E6,
        #1E90FF,
        #AFEEEE,
        #B0E0E6);
        position: absolute;
        top: -2px;
        left:-2px;
        background-size: 400%;
        z-index: -1;
        filter: blur(5px);
        width: calc(100% + 4px);
        height: calc(100% + 4px);
        animation: glowing 20s linear infinite;
        opacity: 0;
        transition: opacity .3s ease-in-out;
        border-radius: 10px;
    }
    
    .glow-on-hover:active {
        color:#6cbeee; 
    }
    
    .glow-on-hover:active:after {
        background: transparent;
    }
    
    .glow-on-hover:hover:before {
        opacity: 1;
    }
    
    .glow-on-hover:after {
        z-index: -1;
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        color:#6cbeee;;
        left: 0;
        top: 0;
        border-radius: 20px;
    }
    
    @keyframes glowing {
        0% { background-position: 0 0; }
        50% { background-position: 400% 0; }
        100% { background-position: 0 0; }
    }